.container {
    display: grid;
    grid-template-areas:
        'header header header'
        'sidebar content content'
        'footer footer footer';
    gap: 10px;
}
.header {
    grid-area: header;
    background-color: #8ca0ff;
    padding: 20px;
    text-align: center;
    border: 1px solid #000;
}
.sidebar {
    grid-area: sidebar;
    background-color: #ffa08c;
    padding: 20px;
    text-align: center;
    border: 1px solid #000;
}
.content {
    grid-area: content;
    background-color: #8cff8c;
    padding: 20px;
    text-align: center;
    border: 1px solid #000;
}
.footer {
    grid-area: footer;
    background-color: #ff8c8c;
    padding: 20px;
    text-align: center;
    border: 1px solid #000;
}